* {
    padding: 0;
    margin: 0;

}
#mydiv {
    color: red;
}


#myH1 {
    color: yellow;
}

#p {
    border: 3px solid purple;
        background-color: rgb(75, 244, 24);
        border-radius: 10px;
        padding: 10px;
}