* {
    padding: 0;
    margin: 0;

}

#mydiv {
    color: rgb(77, 213, 200);
}


#myH1 {
    color: orangered;
}

#p {
    border-radius: 10px;
    border: 3px solid orangered;
    background-color: aqua;
    padding: 10px;
}